<html>
  <head>
    <title>My Experiment</title>
    <script src="static/lib/jquery-min.js" type="text/javascript"> </script>
    <script src="static/lib/underscore-min.js" type="text/javascript"> </script>
    <script src="static/lib/backbone-min.js" type="text/javascript"> </script>
    <script src="static/lib/d3.v3.min.js" type="text/javascript"> </script>

    <script type="text/javascript">
        // Subject info, including condition and counterbalance codes.
        var uniqueId = "{{ uniqueId }}";
        var adServerLoc = "{{ adServerLoc }}";
        var mode = "{{ mode }}";
        var condition = "{{ condition }}";
        var counterbalance = "{{ counterbalance }}";
    </script>

    [SUB_EXPERIMENTSTATIC_SUB]    
    <script src="static/js/load_experiments.js" type="text/javascript"></script>
    <script src="static/js/psiturk.js" type="text/javascript"></script>		
    <link rel='stylesheet' href='static/css/default_style.css' type="text/css">  
  
  </head>
  <body>
	  
	  <script> 
	   
              var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);	    
		var task_list = '<ul list-text>'
		for (i=0; i<experiment_names.length; i++) {
			task_list += '<li>' + experiment_names[i] + '</li>'
		}
      
		
		var task_list_block = {
		  type: 'text',
		  text: '<div class = centerbox><p class = block-text>In this HIT you will be completing the following tasks: </p>' + task_list + '</ul><p class = block-text>Press <strong>enter</strong> to continue.</p></div>',
		  cont_key: [13],
		};
				
		var experiments = []
		experiments.push(task_list_block)

		// concatenate on the experimental blocks defined for each of the constituent experiments
		cat_experiments(experiments)

            $( document ).ready(function() {

		// start the experiment -->
		jsPsych.init({
	
 	            timeline: experiments,
                    display_element: "getDisplayElement",
                    fullscreen: true,

                    on_finish: function() {
                        psiturk.saveData({
                        success: function() { psiturk.completeHIT(); }
                    });
                },
                    on_data_update: function(data) {
                        psiturk.recordTrialData(data);
                     }
		});

          });		
	  </script>
  </body>
</html>
