@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
  color: #999;
  font-family: 'Roboto', sans-serif;
  background-image: url('../images/tinypeople.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
  background-size: 900px;
}

.boxtitle {
    font-style: normal;
    color: white;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

/* Tiny little pieces! */
svg:hover,
svg:focus {
  text-decoration: none;
  color: #999; 
}

#littlepieces {
  position: absolute:
  top: 400px;
}

.tip {
  text-decoration: none;
}

.tagline1 {
  position: absolute;
  left: 12%;
  top: 15%;
}

.tagline2 {
  position: absolute;
  left: 55%;
  top: 80%;
}

.title {
  position: absolute;
  left: 8%;
  top: 5%;
}

/* Center */
.experiment {
  font-size:32;
  position: absolute;
  left: 33%;
  top: 50%;
}

/* Navigation */

nav {
  position: absolute;
  top: 20%;
  left: 85%;
  -webkit-transform: translate(-5rem, -5rem);
      -ms-transform: translate(-5rem, -5rem);
          transform: translate(-5rem, -5rem);
}
nav ul {
  width: 10rem;
  height: 10rem;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 0rem;
  height: 0rem;
  box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.3);
}
nav ul li {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: #1756E8;
}
nav ul li a {
  color: white;
  display: block;
  text-align: center;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
}
nav ul li a:hover {
  background: white;
  color: #1756E8;
}
nav ul li:nth-child(1) {
  top: 0;
  left: 0;
}
nav ul li:nth-child(2) {
  right: 0;
  top: 0;
}
nav ul li:nth-child(3) {
  bottom: 0;
  right: 0;
}
nav ul li:nth-child(4) {
  left: 0;
  bottom: 0;
}

footer {
  padding-left:20px;
  padding-bottom:10px;
}

